<%- include('partials/aside') %>

<main class="main">
    <a class="input_submit" href="/unidadeAlocacao/create">Novo registro</a><br><br>
        <section class="container_search">
            <span class="">Filtros</span>
            <form class="form_search" action="/unidadeAlocacao/read" method="get">
                <div class="group_search">
                    <label for="search"> Pesquisar Código</label><br />
                    <input class="input_search" type="search" name="codigo" id="search" />
                </div>
                <input class="input_submit" type="submit" value="Fazer uma pesquisa">
            </form>
        </section>
        <% if(unidades.length> 0){ %>
        <div class="table_container">
            <table class="table">
                <thead>
                    <tr class="table_row">
                        <% Object.keys(unidades[0]).map(unidade=>{ %>
                            <th>
                                <%- unidade %>
                            </th>
                            <% }) %>
                                <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <% unidades.map(unidade=> { %>
                        <tr class="table_row">
                            <% Object.values(unidade).map(value=>{ %>
                                <td>
                                    <%- value %>
                                </td>
                                <% }) %>
                                    <td>
                                        <a href="/unidadeAlocacao/delete/<%- unidade.codigo %>"
                                            onclick="return confirm ('Você quer excluir?')">Excluir</a> |
                                        <a href="/unidadeAlocacao/update/<%- unidade.codigo %>">Editar</a>
                                    </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <% } else{ %>
            <span>Nenhum Resultado</span>
            <% } %>
</main>

<%- include('partials/footer') %>